{% extends "shopapp/base.html" %}

	{% block title %}
<title>Главная</title>
	{% endblock %}
{%  block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'slider/css/style.css' %}">


 <!----------------SLIDE------------------>

      <div id="app"></div>



 <!----------------//SLIDE------------------>




<div class="ps-section--features-product ps-section masonry-root pt-50 pb-100">
        <div class="ps-container">
          <div class="ps-section__header mb-50">
            <h3 class="ps-section__title" data-mask="популярное">- Популярное </h3>
            <ul class="ps-masonry__filter">
            <li class="current"><a href="#" data-filter="*">All <sup>12</sup></a></li>
              <li><a href="#" data-filter=".clothing"> Одежда<sup>4</sup></a></li>
              <li><a href="#" data-filter=".socks"> Гольфы<sup>4</sup></a></li>
              <li><a href="#" data-filter=".prettyIncuffs">Аксессуары <sup>4</sup></a></li>
{#              <li><a href="#" data-filter=".men">Men <sup>1</sup></a></li>#}
{#              <li><a href="#" data-filter=".women">Women <sup>1</sup></a></li>#}
{#              <li><a href="#" data-filter=".kids">Kids <sup>4</sup></a></li>#}

            </ul>
          </div>
          <div class="ps-section__content pb-50">
            <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
              <div class="ps-masonry">
                <div class="grid-sizer"></div>


                  <!------------------------------Start------------------>

                                {% for item in clothing_product %}
 <div class="grid-item clothing">
                                 <div class="grid-item__content-wrapper">
                    <div class="ps-shoe mb-30">
                      <div class="ps-shoe__thumbnail">
                          <a class="ps-shoe__favorite" href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}"><i class="ps-icon-heart"></i></a><img src="/{{MEDIA_URL}}{{item.cardfoto_set.first.image}}" alt=""><a class="ps-shoe__overlay" href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}"></a>
                      <div class="ps-badge ps-badge--price"><span> {{ item.price }}₽</span></div>
                      </div>
                      <div class="ps-shoe__content">
                        <div class="ps-shoe__variants">
                          <div class="ps-shoe__variant normal">
                              {% for i in item.cardfoto_set.all|slice:3 %}
                              <img src="/{{MEDIA_URL}}{{i.image}}" alt="">
                          {% endfor %}
                          </div>
                          <select class="ps-rating ps-shoe__rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                          </select>
                        </div>
                        <div class="ps-shoe__detail">
                            <p class="ps-shoe__categories"><a href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}">{{ item.title.capitalize|slice:":35" }} ...</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
                                               {% for item in socks_product %}
 <div class="grid-item socks">
                                 <div class="grid-item__content-wrapper">
                    <div class="ps-shoe mb-30">
                      <div class="ps-shoe__thumbnail">
                          <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="/{{MEDIA_URL}}{{item.cardfoto_set.first.image}}" alt="">
                          <a class="ps-shoe__overlay" href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}"></a>
                      <div class="ps-badge ps-badge--price"><span> {{ item.price }}₽</span></div>
                      </div>
                      <div class="ps-shoe__content">
                        <div class="ps-shoe__variants">
                          <div class="ps-shoe__variant normal">
                              {% for i in item.cardfoto_set.all|slice:3 %}
                              <img src="/{{MEDIA_URL}}{{i.image}}" alt="">
                          {% endfor %}
                          </div>
                          <select class="ps-rating ps-shoe__rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                          </select>
                        </div>
                        <div class="ps-shoe__detail">
                            <p class="ps-shoe__categories"><a href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}">{{ item.title.capitalize|slice:":35" }} ...</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
                  {% for item in prettyIncuffs_product %}
 <div class="grid-item prettyIncuffs">
                                 <div class="grid-item__content-wrapper">
                    <div class="ps-shoe mb-30">
                      <div class="ps-shoe__thumbnail">
                          <a class="ps-shoe__favorite" href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}"><i class="ps-icon-heart"></i></a><img src="/{{MEDIA_URL}}{{item.cardfoto_set.first.image}}" alt=""><a class="ps-shoe__overlay" href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}"></a>
                      <div class="ps-badge ps-badge--price"><span> {{ item.price }}₽</span></div>
                      </div>
                      <div class="ps-shoe__content">
                        <div class="ps-shoe__variants">
                          <div class="ps-shoe__variant normal">
                              {% for i in item.cardfoto_set.all|slice:3 %}
                              <img src="/{{MEDIA_URL}}{{i.image}}" alt="">
                          {% endfor %}
                          </div>
                          <select class="ps-rating ps-shoe__rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                          </select>
                        </div>
                        <div class="ps-shoe__detail">
                            <p class="ps-shoe__categories"><a href="{% url 'shop:detail' sub=item.subcategory.first.name_slug slug=item.slug  %}">{{ item.title.capitalize|slice:":35" }} ...</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}










{#              {% for item in data %}#}
{##}
{#{% if item.sub == 'clothing' %}#}
{#    <div class="grid-item clothing">#}
{#    {% elif item.sub == 'socks' %}#}
{#    <div class="grid-item socks">#}
{#    {% elif item.sub == 'prettyIncuffs' %}#}
{#    <div class="grid-item prettyIncuffs">#}
{##}
{#{% endif %}#}
{#                  <div class="grid-item__content-wrapper">#}
{#                    <div class="ps-shoe mb-30">#}
{#                      <div class="ps-shoe__thumbnail">#}
{#                          <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="{{ MEDIA_URL }}{{ item.thumb.image }}" alt=""><a class="ps-shoe__overlay" href="product-detail.html"></a>#}
{#                      <div class="ps-badge ps-badge--price"><span> {{ item.price }}₽</span></div>#}
{#                      </div>#}
{#                      <div class="ps-shoe__content">#}
{#                        <div class="ps-shoe__variants">#}
{#                          <div class="ps-shoe__variant normal">#}
{#                              {% for item in item.foto %}#}
{#                              <img src="{{ MEDIA_URL }}{{ item.image }}" alt="">#}
{#                          {% endfor %}#}
{#                          </div>#}
{#                          <select class="ps-rating ps-shoe__rating">#}
{#                            <option value="1">1</option>#}
{#                            <option value="1">2</option>#}
{#                            <option value="1">3</option>#}
{#                            <option value="1">4</option>#}
{#                            <option value="2">5</option>#}
{#                          </select>#}
{#                        </div>#}
{#                        <div class="ps-shoe__detail">#}
{#                            <p class="ps-shoe__categories"><a href="#">{{ item.name.title }}</a></p>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              {% endfor %}#}
     </div>
            </div>
          </div>
        </div>
      </div>
<!-----------------------------END-------------------->

     <div class="ps-section--offer">
        <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="images/banner/home-banner-1.png" alt=""></a></div>
        <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="images/banner/home-banner-2.png" alt=""></a></div>
      </div>
      <div class="ps-section--sale-off ps-section pt-80 pb-40">
        <div class="ps-container">
          <div class="ps-section__header mb-50">
            <h3 class="ps-section__title" data-mask="Sale off">- Hot Deal Today</h3>
          </div>
          <div class="ps-section__content">
            <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ps-hot-deal">
                      <h3>Nike DUNK Max 95 OG</h3>
                      <p class="ps-hot-deal__price">Only:  <span>£155</span></p>
                      <ul class="ps-countdown" data-time="December 13, 2017 15:37:25">
                        <li><span class="hours"></span><p>Hours</p></li>
                        <li class="divider">:</li>
                        <li><span class="minutes"></span><p>minutes</p></li>
                        <li class="divider">:</li>
                        <li><span class="seconds"></span><p>Seconds</p></li>
                      </ul><a class="ps-btn" href="#">Order Today<i class="ps-icon-next"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ps-hotspot"><a class="point first active" href="javascript:;"><i class="fa fa-plus"></i>
                        <div class="ps-hotspot__content">
                          <p class="heading">JUMP TO HEADER</p>
                          <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
                        </div></a><a class="point second" href="javascript:;"><i class="fa fa-plus"></i>
                        <div class="ps-hotspot__content">
                          <p class="heading">JUMP TO HEADER</p>
                          <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
                        </div></a><a class="point third" href="javascript:;"><i class="fa fa-plus"></i>
                        <div class="ps-hotspot__content">
                          <p class="heading">JUMP TO HEADER</p>
                          <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
                        </div></a><img src="images/hot-deal.png" alt=""></div>
                  </div>
            </div>
          </div>
        </div>
      </div>
<!-------------------------END------------------------>
 <div class="ps-section ps-section--top-sales ps-owl-root pt-80 pb-80">
        <div class="ps-container">
          <div class="ps-section__header mb-50">
            <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                    <h3 class="ps-section__title" data-mask="Популярное">- Вам может понравиться</h3>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
                  </div>
            </div>
          </div>
          <div class="ps-section__content">
            <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
                 {% for item in most_popular %}
              <div class="ps-shoes--carousel">
                <div class="ps-shoe">
                  <div class="ps-shoe__thumbnail">
                      {% cycle '<div class="ps-badge ps-badge--sale ps-badge--2nd"> <span>-35%</span></div>' ' <div class="ps-badge"> <span>Новинка </span></div>' %}
                      <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="/{{MEDIA_URL}}{{item.product.cardfoto_set.first.image}}" alt=""><a class="ps-shoe__overlay" href="{% url 'shop:detail' sub=item.product.subcategory.first.name_slug slug=item.product.slug  %}"></a>
                    </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__variants">
                      <div class="ps-shoe__variant normal">
                         {% for i in item.product.cardfoto_set.all|slice:3 %}
                              <img src="/{{MEDIA_URL}}{{i.image}}" alt="">
                          {% endfor %}
                      </div>
                      <select class="ps-rating ps-shoe__rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                      </select>
                    </div>
                    <div class="ps-shoe__detail">
                            <p class="ps-shoe__categories"><a href="{% url 'shop:detail' sub=item.product.subcategory.first.name_slug slug=item.product.slug  %}">{{ item.product.title.capitalize|slice:":35" }} ...</a></p>
                        </div>
                  </div>
                </div>
              </div>
{% endfor %}
            </div>
          </div>
        </div>
      </div>






      <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.5/index.min.js'></script>
    <script src="{% static 'slider/js/index.js' %}"></script>
{% endblock %}
