{#<ul class="pagination">#}
{#    {% if page.has_previous %}#}
{#<li><a href="?page={{ page.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>#}
{#    {% endif %}#}
{#<li class="active"><a href="#">{{ page.number }}</a></li>#}
{#<li><a href="#">2</a></li>#}
{#<li><a href="#">3</a></li>#}
{#<li><a href="#">...</a></li>#}
{#{% if page.has_next %}#}
{#<li><a href="?page={{ page.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>#}
{#{% endif %}#}
{#</ul>#}





{% if posts.has_other_pages %}
<ul class="pagination">
    {% if posts.has_previous %}
<li><a href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
    {% endif %}
{% for i in posts.paginator.page_range %}
{% if posts.number == i %}
<li class="active"><a href="#">{{ i }}</a></li>
{% elif i <= posts.number|add:2 and i >= posts.number|add:-2  %}

<li><a href="?page={{ i }}">{{ i }}</a></li>


{% endif %}
{% endfor %}

{% if posts.has_next %}
<li><a href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
{% else %}
{% endif %}
</ul>
{% endif %}

